<h1 class="display-6 mb-4">This is the About Page</h1>

<div class="highlight w-50 mx-auto mb-4" style="height: 300px; background-color: #eee">
lorem ipsum....
</div>
<div class="col-lg-6 mx-auto">
    <%= link_to "Index", articles_path, class: "btn btn-primary btn-sm px-4 gap-4" %> 
    <%= link_to "Home", root_path, class: "btn btn-outline-secondary btn-sm px-4" %>
</div>    
