    <h1 class="display-4 mb-4">Welcome 2 Blog Zone</h1> 

    <div style="height: 300px" class="p-3 py-4 mb-2 text-center rounded w-50 mx-auto">
    ✧･ﾟ: *✧･ﾟ:* *:･ﾟ✧*:･ﾟ✧
    </div>
    <div class="col-lg-6 mx-auto">
        <%= link_to "Index", articles_path, class: "btn btn-primary btn-sm px-4 gap-4" %> 
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-sm px-4 gap-4" %>
        <%= link_to "About", about_path, class: "btn btn-outline-secondary btn-sm px-4" %>
    </div>

    